@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background-dark: #171717;
  --color-background-light: #fffffc;
  --color-accent-cyan: #00BFFF;
}

@layer utilities {
  @keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
  }

  @keyframes slide-in-left-fade {
    from { opacity: 0; transform: translateX(-40px); }
    to { opacity: 1; transform: translateX(0px); }
  }
  
  @keyframes slide-in-right-fade {
    from { opacity: 0;transform: translateX(40px); }
    to { opacity: 1; transform: translateX(0); }
  }
  
  @keyframes slide-in-top-fade {
    from { opacity: 0;transform: translateY(-40px); }
    to { opacity: 1; transform: translateY(0); }
  }

  .animate-fade-in {
    animation: fadeIn 0.6s ease-out both;
  }

  .animate-left-fade {
    animation: slide-in-left-fade 0.7s ease-out forwards;
  }

  .animate-right-fade {
    animation: slide-in-right-fade 0.7s ease-out forwards;
  }

  .slide-in-top-fade {
    animation: slide-in-top-fade 0.7s ease-out forwards;
  }

  .slide-delay-200 {
    animation-delay: 0.2s;
  }

  .slide-delay-400 {
    animation-delay: 0.4s;
  }
}