---
interface Props {
  id?: string;
  title?: string;
  extra?: string;
  isGroup?: boolean;
  classes?: string;
}

const { id, title, extra, isGroup = false, classes } = Astro.props;
---

<section
  id={id}
  class=`${isGroup ? 'group/title' : ''} mt-32 flex w-full scroll-mt-32 flex-col items-center ${classes}`
>
  {
    title && (
      <header class="mb-12 -ml-2 flex w-full max-w-5xl items-center gap-4">
        <slot name="icon" />
        <h2 class="text-3xl font-light dark:font-thin">
          <em>{title}</em>
        </h2>
        {extra && (
          <>
            <hr class="h-px flex-1 border-none bg-zinc-100/30" />
            <span class="font-thin text-slate-100/40">{extra}</span>
          </>
        )}
      </header>
    )
  }
  <slot name="content" />
</section>
