---
interface Props {
  active?: boolean;
  dates: string;
  title: string;
  subtitle: string;
  content: string;
}

const { active = false, dates, title, subtitle, content } = Astro.props;
---

<article>
  <div class="gap-24">
    <div>
      <div
        class="group relative space-y-12 before:absolute before:top-6 before:left-2.75 before:h-full before:w-px before:bg-zinc-800"
      >
        <div class="relative pl-12">
          {
            active ? (
              <div class="bg-background-light dark:bg-background-dark border-accent-cyan absolute top-1 left-0 z-10 flex h-6 w-6 items-center justify-center rounded-full border-2 shadow-[0_0_15px_rgba(79,209,197,0.3)]">
                <div class="bg-accent-cyan h-3 w-3 animate-pulse rounded-full" />
              </div>
            ) : (
              <div class="bg-background-light dark:bg-background-dark group-hover:border-accent-cyan group-hover:text-accent-cyan absolute top-1 left-0 z-10 flex h-6 w-6 items-center justify-center rounded-full border border-zinc-800 transition-all duration-300 group-hover:border-2 dark:border-zinc-800" />
            )
          }

          <span
            class="mb-2.5 block pt-2 font-mono text-[10px] tracking-widest text-zinc-600 uppercase"
          >
            {dates}
          </span>
          <h4
            class="group-hover:text-accent-cyan dark:group-hover:text-accent-cyan/70 mb-1 text-xl transition-all duration-300 group-hover:font-bold dark:text-white"
          >
            {title}
          </h4>
          <p class="mb-4 text-sm text-zinc-400">{subtitle}</p>
          <p class="pb-10 text-sm leading-relaxed text-zinc-500">{content}</p>
        </div>
      </div>
    </div>
  </div>
</article>
