---
const { name, surname, paragraphs } = Astro.props;
---

<article
  class="flex w-full max-w-5xl flex-col-reverse gap-28 pr-10 lg:flex-row"
>
  <div class="flex flex-1 flex-col gap-8">
    <h3 class="flex gap-1.5 text-2xl leading-none font-light">
      {name}
      <span class="text-accent-cyan text-[26px] font-extrabold">{surname}</span>
    </h3>
    {paragraphs.map((p) => <p>{p}</p>)}
  </div>
  <div class="dark:bg-accent-cyan/30 imageCard rounded-3xl bg-zinc-600/30">
    <img
      src="images/josearroyodev.webp"
      class="hover: dark:normal rounded-3xl border-4 border-zinc-800 object-cover shadow-2xl grayscale dark:grayscale-0"
    />
  </div>
</article>
