<article
  class="flex w-full max-w-5xl flex-col-reverse gap-28 pr-10 lg:flex-row"
>
  <div class="flex flex-1 flex-col gap-8">
    <h3 class="flex gap-1.5 text-2xl leading-none font-light">
      Jose <span class="text-accent-cyan text-[26px] font-extrabold"
        >Arroyo</span
      >
    </h3>
    <p>
      Soy desarrollador web enfocado en crear aplicaciones claras, eficientes y
      centradas en el usuario. Me gusta construir productos digitales con código
      limpio, buen diseño y una experiencia de uso sencilla, donde cada detalle
      tenga sentido.
    </p><p>
      Trabajo principalmente con tecnologías modernas del ecosistema web y
      disfruto enfrentándome a problemas reales: desde estructurar una interfaz
      hasta optimizar la lógica que hay detrás. Me interesa especialmente que lo
      que desarrollo no solo funcione, sino que sea mantenible y fácil de
      escalar.
    </p><p>
      Más allá del código, valoro la disciplina, la mejora continua y el
      aprendizaje constante. Me implico en cada proyecto con mentalidad de
      producto, buscando siempre aportar soluciones útiles y bien pensadas.
    </p>
  </div>
  <div class="bg-accent-cyan/30 imageCard rounded-3xl">
    <img
      src="images/josearroyodev.webp"
      class="hover: rounded-3xl border-4 border-zinc-800 object-cover shadow-2xl"
    />
  </div>
</article>
