---
const { classNameList, label } = Astro.props;
---

<button
  class=`flex min-w-38 cursor-pointer items-center gap-2 rounded-xl bg-zinc-900 px-10 py-4 font-bold text-slate-100 opacity-0 shadow-lg transition-all hover:scale-105 active:scale-100 dark:bg-zinc-100 dark:text-zinc-900 ${classNameList}`
>
  {label}
  <slot />
</button>
