---
import { Icons } from '@components/Icons';

const currentYear = new Date().getFullYear();

const { alias, social } = Astro.props;

type SocialItem = {
  platform: string;
  url: string;
};
---

<footer
  class="bg-background-light dark:bg-background-dark mt-56 border-t border-slate-200 py-8 lg:py-16 dark:border-zinc-900"
>
  <div
    class="mx-auto flex max-w-5xl flex-col items-center justify-between gap-4 px-6 md:flex-row lg:gap-10"
  >
    <div class="flex flex-col items-center gap-2 md:items-start">
      <p
        class="text-salte-400 flex flex-wrap items-center gap-2 font-mono text-sm md:text-base dark:text-zinc-400"
      >
        Made with
        <span class="animate-pulse text-lg text-red-500 md:text-xl">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="icon icon-tabler icons-tabler-filled icon-tabler-heart"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M6.979 3.074a6 6 0 0 1 4.988 1.425l.037 .033l.034 -.03a6 6 0 0 1 4.733 -1.44l.246 .036a6 6 0 0 1 3.364 10.008l-.18 .185l-.048 .041l-7.45 7.379a1 1 0 0 1 -1.313 .082l-.094 -.082l-7.493 -7.422a6 6 0 0 1 3.176 -10.215z"
            ></path></svg
          >
        </span>
        by
        <a
          href="#"
          class="hover:text-accent-cyan font-semibold transition-colors duration-300"
        >
          {alias}
        </a>
        &copy; {currentYear}
      </p>
    </div>
    <div
      class="flex flex-1 flex-wrap justify-start gap-4 sm:justify-end lg:gap-8"
    >
      {
        social.map((item: SocialItem) => (
          <a
            href={item.url}
            class="group text-salte-400 dark:text-zinc-400"
            target="_blank"
            rel="noopener noreferrer"
          >
            {() => {
              switch (item.platform) {
                case 'GitHub':
                  return (
                    <>
                      <Icons.GithubOutline className="icon icon-tabler icons-tabler-outline icon-tabler-brand-github group-hover:hidden" />
                      <Icons.GithubFilled className="icon icon-tabler icon-tabler-filled icon-tabler-brand-github hidden group-hover:block" />
                    </>
                  );
                case 'LinkedIn':
                  return (
                    <>
                      <Icons.LinkedInOutline className="icon icon-tabler icon-tabler-outline icon-tabler-brand-linkedin group-hover:hidden" />
                      <Icons.LinkedInFilled className="icon icon-tabler icon-tabler-filled icon-tabler-brand-linkedin hidden group-hover:block" />
                    </>
                  );
                case 'Twitter':
                  return (
                    <>
                      <Icons.TwitterOutline className="icon icon-tabler icon-tabler-outline icon-tabler-brand-x group-hover:hidden" />
                      <Icons.TwitterFilled className="icon icon-tabler icon-tabler-filled icon-tabler-brand-x hidden group-hover:block" />
                    </>
                  );
                default:
                  return null;
              }
            }}
          </a>
        ))
      }
    </div>
  </div>
</footer>
