<article
  class="mt-56 mb-32 flex w-full max-w-6xl flex-col items-center text-center"
>
  <div class="relative mb-10">
    <img
      alt="Jose Arroyo Dev Portrait"
      class="h-28 w-28 rounded-3xl border-2 border-zinc-800 object-cover shadow-2xl"
      src="/images/avatar.webp"
    />
    <div
      class="bg-accent-green bg-background-dark absolute -right-1 -bottom-1 h-5 w-5 rounded-full border-4"
    >
      <div class="h-3 w-3 animate-pulse rounded-full bg-green-400"></div>
    </div>
  </div>
  <h1
    class="mb-6 text-5xl leading-tight font-bold tracking-tight md:text-7xl dark:text-white"
  >
    Senior Full-Stack <br />
    <span class="text-6xl font-light text-zinc-600"> Web Developer & </span>
    <span class="inline-flex items-center gap-3 text-6xl">
      Product Builder
      <svg
        class="text-accent-cyan mt-3"
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-terminal-2"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M8 9l3 3l-3 3"></path><path d="M13 15l3 0"></path><path
          d="M3 6a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2l0 -12"
        ></path>
      </svg>
    </span>
  </h1>
</article>
