---
interface Props {
  name: string;
  hoverColor: string;
}

const { name, hoverColor } = Astro.props;
---

<div
  class="group flex flex-1 flex-col items-center gap-1 text-slate-100"
  style={`--hover-custom: ${hoverColor};`}
>
  <slot />
  <span
    class="text-sm font-thin transition-all duration-200 group-hover:font-bold group-hover:text-(--hover-custom)"
  >
    {name}
  </span>
</div>
