---
interface Props {
  name: string;
  hoverColor: string;
}

const { name, hoverColor } = Astro.props;
---

<div class="group flex w-fit flex-col items-center gap-1 text-slate-100">
  <slot />
  <span
    class=`text-sm font-thin transition-all duration-200  group-hover:text-[${hoverColor}]`
  >
    {name}
  </span>
</div>
